/* index styles */

body{width: 100%;
	 background-color:#0b0b0b;
}

header {font-family: sans-serif;
	  font-size: .7em;
	  opacity: .80;
	  color: #FFF;
	  letter-spacing:1.95em;
	  margin-left: 16.34%;
	  margin-top: 3%;
}


#top_line{height:1px;
		   width:65%;
	       background-color: #DBDBDB;
	       margin-left: 16.34%;
	       margin-bottom: 2%;
	       letter-spacing: 2em;
}

img {float: right;
	margin-right: 32%;
	margin-top:  7%;
	width: 30%;
	opacity: .80;
}

li{list-style-type:none;
    margin-left:16%;
    padding:0;
    line-height: 150%;
}

span {text-decoration: none;
      font-family: sans-serif;
      font-size: 2em;
      color: #DDC643;}

a{width: 100%;
	font-family: Helvetica;
	font-size: 1em;
	margin-bottom: 10%;
}

a:link {text-decoration: none;
        color: grey;
}

a:visited {color:grey;}

a:hover{color: #FFFFFF;}

footer {position: static;
	margin-top: -3%;
	margin-left: 50%;
	
}


/* Media Queries 481px*/     

@media only screen and (max-width: 481px){



/* Media Queries 769px*/  
@media only screen and (min-width : 769px){
}


/* Media Queries 1024px*/  

@media only screen and (min-width : 1024px){

}

/* Media Queries 481px*/  

@media only screen and (min-width: 1024px){
}




