body {background-color: #d3d4d6;
      position: center;}

nav {font-family: Helvetica;
font-size: 20px;}

a {text-decoration: none;
   margin-left: 200px;
   color: darkgreen;
}

#header { height: 50px;
	display: inline-block;
	position: static;
	width: 800px;
	background-color: #718568;
	margin-left: 200px;
	margin-top: 5px;
    border-radius: 10px;
}

li {list-style-type: none;
}

div {margin-bottom: 20px;}

#buttons {float: left;
    margin-left: 100px;
    
    margin-top: 14px;
    font-family: Gotham;
    font-size: 20px;
    color: white;
    border-radius: 5px;
    border-color: #f4fffe;
    border-spacing: 5px;
} 

#text {height: 100%;
	display: inline-block;
	position: static;
	width: 800px;
	background-color: #f4fffe;
	margin-left: 200px;
	margin-top: -10px;
}

header {text-align: left;
        margin-left: 200px;
        font-family: Helvetica;
        font-size: .75em;
        margin-bottom: 10px;
}

.week{font-family: Helvetica;
   font-size: 24px;
   font-style: bold;
   text-align: left;
   margin-left: 30px;
}

.questions {font-family: Courier;
    font-size: 20px;
    font-style: bold;
    float: left;
    margin: 20px;
    color: #718568;
}

img {float: left;
     margin-left:230px;
     margin-top: 5px;}

h6 {text-align: center;
    margin-top: 10px;}

#sub {font-family: Helevitica;
   font-size: 20px;
   font-style: bold;
   text-align: left;
   margin-left: 30px;
   margin-top: 20px;
}

#webpics {margin-left: -85px;}

#wireframe { margin-left: 30px;
}

span {text-align: center;}