body {background-color: #abc8e2;
      position: center;}

nav {font-family: avenir;
    font-size: .75%;}

a {text-decoration: none;
   margin-left: 4%;
   color: #183152;
   background-color: white;
   padding:1px 5px;
   font-family: avenir;
   font-size: 0.5em;
   text-shadow: .25px .25px .25px #183152;
}

#header { height: 2px;
  display: inline-block;
  position: static;
  width: 65%;
  background-color: #183152;
  margin-top: 1.3%;
  margin-left: 3.4%;
}

#footer { height: 2px;
  display: inline-block;
  position: static;
  width: 65%;
  background-color: #183152;
  margin-top: 1.3%;
  margin-left: 18%;
}

#blogheading {float: left;
    margin-left: 4%;
    margin-top: -1%;
    font-family: avenir;
    font-size: .65em;
    color: #183152;
} 

#text_side {height: 40px;
  display: inline-block;
  float: right;
  width: 25%;
  background-color: #183152;
  border-radius: 5px;
  margin-right: 3.6%;
  margin-top: .04%;
}

#sidetitle {font-family: avenir;
  font-size: .5em;
  text-align: center;
  margin-top: 2%;
  color: white;
}

article { font-family: avenir;
  font-size: .8em;
  color: #183152;
  margin-top: 8.5% ;
  opacity: 60%;
}

span {color: #183152;}


li {list-style-type: none;
  font-size: .20em;
}

#text {height: 100%;
  display: inline-block;
  position: static;
  width: 65%;
  border-radius: 5px;
  background-color: white;
  margin-left: 3.5%;
  margin-top: 0.001%;
}

.week{font-family: avenir;
   font-size: .75em;
   font-style: bold;
   text-align: left;
   margin-left: 3.5%;
   margin-bottom: -5px;
   letter-spacing: 5px;
   color: #183152;
}


.week_class{font-family: avenir;
   font-size: .75em;
   font-style: bold;
   text-align: left;
   margin-left: 3.5%;
   margin-bottom: -5px;
   letter-spacing: 6px;
   color: #183152;
}

.questions {font-family: avenir;
    font-size: 1em;
    text-indent: 4%;
    font-style: bold;
    float: left;
    margin: 2.5%;
    color: #183152;
}

#navheader{ width:100%;
  height: 50px;
  background-color: #183152;
}

div {margin-bottom: 20px;}

 
img {width: 85%;
     float: left;
     margin-left:7%;
     margin-top: 5px;}

h6 {text-align: center;
    margin-top: 10px;}


/* Media Queries 481px*/     

@media only screen and (max-width: 481px){



/* Media Queries 769px*/  
@media only screen and (min-width : 769px){
}


/* Media Queries 1024px*/  

@media only screen and (min-width : 1024px){

}

/* Media Queries 481px*/  

@media only screen and (min-width: 1024px){
}