body {background-color: #abc8e2;
      position: center;}

nav {font-family: Futura;
font-size: 20px;}

a {text-decoration: none;
   margin-left: 50px;
   color: #183152;
   background-color: white;
   padding:1px 5px;
   font-family: Futura;
   font-size: 16px;
   text-shadow: .25px .25px .25px #183152;
}

#header { height: 3px;
  display: inline-block;
  position: static;
  width: 68%;
  background-color: #183152;
  margin-top: -25px;
  margin-left: 50px;
}

#blogheading {float: left;
    margin-left: 60px;
    margin-top: 14px;
    font-family: Futura;
    font-size: 1em;
    text-shadow: 2px 2px 2px #000000;
    color: white;
} 


#text_side {height: 40px;
  display: inline-block;
  float: right;
  width: 25%;
  background-color: #183152;
  border-radius: 5px;
  margin-right: 20px;
  margin-top: -10px;
}

#sidetitle {font-family: Verdana;
  font-size: .6em;
  text-align: center;
  margin-top: 4px;
  color: white;
}

article { font-family: Helvetica;
  font-size: .5em;
  color: white;
  margin: 20px;
  opacity: 60%;
  text-shadow: 1.5px 1.5px 1.5px #183152;
}

li {list-style-type: none;
    font-size: .20em;
}

#text {height: 100%;
  display: inline-block;
  position: static;
  width: 68%;
  border-radius: 5px;
  background-color: white;
  margin-left: 50px;
  margin-top: -40px;
}

.week{font-family: Futura;
   font-size: 24px;
   font-style: bold;
   text-align: left;
   margin-left: 30px;
   margin-bottom: -5px;
   letter-spacing: 20px;
   color: #183152;
}

.questions {font-family: Futura;
    font-size: 18px;
    text-indent: 20px;
    font-style: bold;
    float: left;
    margin: 18px;
    color: #183152;
}


#navheader{ width:100%;
  height: 50px;
  background-color: #183152;
}

div {margin-bottom: 20px;}

 
img {float: left;
     margin-left:120px;
     margin-top: 5px;}

span {
  color: rgb(15,150,255);
}


h6 {text-align: center;
    margin-top: 10px;}


span {text-align: center;}

/* Media Queries 481px*/     

@media only screen and (max-width: 481px){
}

/* Media Queries 769px*/  
@media only screen and (min-width : 769px){
}


/* Media Queries 1024px*/  

@media only screen and (min-width : 1024px){

}

/* Media Queries 481px*/  

@media only screen and (min-width: 1024px){
}